/* ==========================================================================
   Article
   ========================================================================== */

.c-article {

}

.c-article__main {
  max-width: 95rem; // 760px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.2rem;
    color: rgba($c__black, .7);
  }

   blockquote {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: #d9d9d9;
    color: #4a86e8;
  }
}
