/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.button0 {
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid #4a86e8;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Nobile;
    text-align: center;
}
.button0:hover {
    background-color: #4a86e8;
    color: white;
}
