---
layout: page
---
<ul class="header">
    <ul class="button">
        {% if page.previous %}
            {% assign previous = page.previous %}
            {% assign titlep = previous.title %}
        {%else%}
            {% assign previous = index.html%}
            {% assign titlep = "Home" %}
        {% endif %}
        <div class="button0"><a href="{{site.baseurl}}{{previous.url}}">&laquo; {{titlep}}</a></div>
        <h1 id="{{page.title}}">{{page.title}}</h1>
        {% if page.next %}
            {% assign next = page.next %}
            {% assign titlen = next.title %}
        {%else%}
            {% assign next = index.html%}
            {% assign titlen = "Home" %}
        {% endif %}
        <div class="button0"><a href="{{site.baseurl}}{{next.url}}">{{titlen}} &raquo;</a></div>         
    </ul>
</ul>
{{ content }}
