---
layout: page
---
<ul class="header">
    <ul class="button">
        {% if page.previous %}
            {% assign previous = page.previous %}
        {% endif %}
        <div class="button0"><a href="{{site.baseurl}}{{previous.url}}">&laquo; {{previous.title}}</a></div>
        <div class="button0"><a href="{{site.baseurl}}">Home</a></div>
        {% if page.next %}
            {% assign next = page.next %}
        {% endif %}
        <div class="button0"><a href="{{site.baseurl}}{{next.url}}">{{next.title}}&raquo;</a></div>         
    </ul>
</ul>
{{ content }}
